@charset "UTF8";
:root{
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
}
* {
    box-sizing: border-box;
    outline: 0;
    font-family: sans-serif;
    font-size: 1.3en;
    line-height: 1.5en;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    border: solid black 1px;
    padding: 20px;
    border-radius: 5px;
    
}

.btn-add-tarefa, .input-nova-tarefa{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.btn-add-tarefa, .input-nova-tarefa{
    font-size: 24px;
    height:  50px;
    padding: 0 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.btn-add-tarefa{
    background-image: linear-gradient(to bottom, green, darkgreen);
}


.btn-add-tarefa:hover{
    cursor: pointer;
    transform: translate(-5px, -5px);
    transition: transform 2s;
}